<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->

    <title>Вход</title>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/auth-page.css}" rel="stylesheet">
  </head>

  <body>
    <main role="main">
        <div id="main-wrapper" class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="card border-0">
                        <div class="card-body p-0">
                            <div class="row no-gutters">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="mb-5">
                                            <h3 class="h4 text-theme">Вход</h3>
                                        </div>

                                        <form th:action="@{/login}" method="POST">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" name="email">
                                            </div>
                                            <div class="form-group mb-5">
                                                <label for="exampleInputPassword1">Пароль</label>
                                                <input type="password" class="form-control" name="password">
                                            </div>
                                            <button type="submit" class="btn btn-theme">Войти</button>
                                            <a href="#l" class="forgot-link float-right text-primary">Забыли пароль?</a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-inline-block">
                                    <div class="account-block rounded-right">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="text-muted text-center mt-3 mb-0">Нет аккаунта? <a th:href="@{/register}" class="text-primary ml-1">Создать аккаунт</a></p>

                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

  </body>
</html>