<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico"> -->

    <title>404 Страница не найдена</title>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/auth-page.css}" rel="stylesheet">
  </head>

  <body>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                    <div class="card border-0 shadow mt-5">
                        <div class="card-body p-5 text-center">
                            <h1 class="display-4 text-theme">404</h1>
                            <p class="lead text-muted mb-4">Упс! Страница не найдена.</p>
                            <p class="text-muted mb-4">
                                Кажется, вы перешли по неверной ссылке или страница была удалена.
                            </p>
                            <a href="/" class="btn btn-theme">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

  </body>
</html>